html {
  background: #da1616;
}
body {
  min-height: 100% !important;
  /* padding-top: 150px; */
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 130px;
  height: 115px;
  margin-top: -4px; /* Half the height */
  margin-left: -75px; /* Half the width */
  background-color: red;
  background-color: #fff;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  border-top: 0;
  transition: .3s;
  -moz-box-shadow: 0 0 20px #aaa;
  -webkit-box-shadow: 0 0 20px #aaa;
  box-shadow: 0 0 20px #aaa;
}
.logo img.compact {
  height: 85px;
  width: auto;
  margin: auto;
  display: block;
}
.pushable, .pusher {
  /*background: #cdddc1;*/
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
  position: relative !important;
  margin: 0 !important;
  /*height: auto !important;*/
  min-height: 100% !important;
  /*padding-top: 150px;*/
}

.button.landing-sidebar {
  border: 0px !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  margin: 10px;
  padding: 15px 10px 15px 20px !important;
  color: #fff;
  font-size: 24px;
  margin-top: -140px !important;
  background: transparent;
}
.button.landing-sidebar:hover ,.button.landing-sidebar .sidebar:hover{
  color: rgb(38, 20, 94) !important;
  background-color: #fff;
}
.ui.menu.landing-sidebar {
  background-color: #28166F;
}

.ui.menu.landing-sidebar .item {
  color: #fff !important;
  font-size: 14px !important;
  padding: 1.75rem;
}

.ui.menu.landing-sidebar .divider{
  border: 0.5px solid #fff;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.ui.menu.landing-sidebar a.button{
  width:80%;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  margin-top: 15px;
  border-radius: 2px;
  font-weight: bold;
}

.ui.menu.landing-sidebar a.button:hover{
  color: #28166F !important;
  border: none !important;
}
.ui.menu.landing-sidebar a.login{
  background-color: #fff !important;
  color: #28166F !important;
  border: none !important;
}
.ui.vertical.menu.landing-sidebar .item>i.icon {
  float: left !important;
  margin-right: 18px;
  margin-left: 0px;
  font-size: 18px !important;
}

.ui.menu.landing-sidebar .item:hover {
  background-color: #281699;
}

.ui.menu.landing-sidebar .item.brand:hover {
  background-color: transparent;
}

.ui.left.icon.input {
  width: 100% !important;
}

.search {
  color: #fff;
  font-size: 16px;
  background-color: transparent !important;
  border-color: transparent !important;
  transition: box-shadow 1s ease,border-color 1s ease;
}

::placeholder {
  color: #fff !important;
}

.search:focus {
  width: 100% !important;
  background-color: #A5D0E9 !important;
  color: #fff !important;
}

@media only screen and (max-width: 1000px) {
  .row.menu-bar {
    width: auto !important;
  }
  .menubar.shrink .navbar-brand {
    width: 325px !important;
  }
  ul#submenu {
    -moz-column-count: 2 !important;
    -moz-column-gap: 10px !important;
    -webkit-column-count: 2 !important;
    -webkit-column-gap: 10px !important;
    column-count: 2 !important;
    column-gap: 10px !important;
  }
  ul#submenu li {
    margin-bottom: 10% !important;
  }
  .row.search-box {
    width: auto !important;
  }
  ul#menu li.menubar {
    margin-top: 0px !important;
  }
  .well {
    margin-top: 30px !important;
  }
  .well#callouts--top:after {
    top: 0px !important;
  }
}

.landing-icon {
  font-size: 32px;
  color: #28166F;
}

.menu-layanan {
  width: 1000px !important;
  z-index: 9999 !important;
}

.column-full {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 92%;
}

.pointing.menu.new,
.pointing.menu.new .active,
.pointing.menu.new .item:hover {
  background: transparent !important;
  border: 0px;
  border-bottom: 0px !important;
}

.pointing.menu.column {
  height: 150px;
}

.ui.pointing.menu.new .item:after {
  border-bottom: 0px !important;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer.top {
  background-color: #da1616 !important;
  color: #fff;
}

.footer.bottom {
  background-color: #80c1a7 !important;
  font-size: 12px;
}

.footer.bottom a{
  color: #000000;
}

.footer.bottom a:hover{
  font-weight: bold;
  font-size: 13px;
}

.white.basic.button {
  border: 1px solid #fff;
  color: #fff !important;
  position: relative;
}

.ui.circular.segment {
  border: 4px solid #A5D0E9;
  margin-left: 50px !important;
}

ul#menu li.menubar {
  width: 90px !important;
  height: 90px !important;
  border-radius: 50px;
  position: relative;
  padding: 0;
  margin: 0 4% 5% 3%;
  display: inline-flex;
  text-align: center;
}

.row.menu-bar {
  width: 1110px;
  margin: 3% auto 0;
}

.row.search-box {
  width: 1010px;
  margin: 0 auto 0;
  padding-left: 5%;
  padding-right: 5%;
}

ul#menu {
  list-style-type: none;
  /* margin-left: auto; */
  padding-left: 0%;
  left: -20px;
  width: 900px;
  text-align: center;
  position: relative;
  display: table-cell;
}

ul#menu li.menubar>a {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  background: #ffffff;
  border: 4px solid #fc5e5e;
  display: block;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
ul#menu li.menubar>.title {
  margin-top: 100px;
  position:absolute;
  width: 90px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  font-weight: bold;
  left:0;
  right:0;
}
.well {
  transition: all 0.25s ease;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
  width: 100%;
  margin: 0 auto;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: white !important;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well#callouts--top:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -32px;
  border: 20px solid transparent;
  border-bottom: 15px solid #fff;
  z-index: 3;
  /*transition: all 0.25s ease;*/
}

ul#submenu {
  list-style-type: none;
  text-transform: capitalize;
  padding-left: 0 !important;
  text-align: left;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

ul#submenu li {
  margin-bottom: 5%;
}

ul#submenu a {
  color: #da1616;
  line-height: 20px;
  text-decoration: none;
}

ul#menu li.menubar:hover {
  color: #da1616 !important;
  text-decoration: none;
  color: black;
  -moz-box-shadow: 0 0 15px #A5D0E9;
  -webkit-box-shadow: 0 0 25px #a5d0e9;
  box-shadow: 0 0 15px #A5D0E9;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}

.search-line {
  padding-left: 25%;
  padding-right: 28%;
}

ul#menu li.menubar>a.icon:before {
  content: '';
  left: 20px;
  top: 20px;
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
}
ul#menu li.menubar>a img {
  left: 20px;
  top: 20px;
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
}
ul#menu li.menubar>a.icon.pendaftaran:before {
  background: url(../images/icon/pendaftaran.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.perijinan:before {
  background: url(../images/icon/perijinan.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.sertifikasi:before {
  background: url(../images/icon/sertifikasi.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.helpdesk:before {
  background: url(../images/icon/helpdesk.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.aduan-konten:before {
  background: url(../images/icon/aduan-konten.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.beasiswa:before {
  background: url(../images/icon/beasiswa.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.regulasi:before {
  background: url(../images/icon/regulasi.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.statistik:before {
  background: url(../images/icon/statistik.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.berita:before {
  background: url(../images/icon/berita.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.faq:before {
  background: url(../images/icon/faq.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.direktori:before {
  background: url(../images/icon/direktori.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.layanan-pemerintah:before {
  background: url(../images/icon/layanan-pemerintah.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

ul#menu li.menubar>a.icon.keamanan-informasi:before {
  background: url(../images/icon/keamanan-informasi.png) no-repeat 0px 0px;
  background-size: 50px 50px;
}

p.clear {
  clear: both;
}
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
  max-height: 400px !important;
  overflow-y: scroll !important;
}
.ui-menu-item{
  height: 80px;
  border: 1px solid #ececf9;
}
.ui-menu-item:hover{
  background:#f5f5f5 !important;
}
.ui-widget-content .ui-state-active {
  background-color: #f5f5f5 !important;
  border: none !important;
}
.list_item_container {
  height: 80px;
  margin-left: -0px;
  margin-top: -20px;
}
.ui-widget-content .ui-state-active .list_item_container{
  background-color: #f5f5f5;
  margin-top: -20px;
  color: rgb(9, 135, 196) !important;
}
.image {
  width: 15%;
  float: left;
  padding: 10px;
}
.image img{
  width: 50px;
  height : auto;
}
.ui-menu-item-wrapper {
  padding: 3px 0px 0px .4em !important;
}
@media only screen and (max-width: 600px) {
  .image {
    width: 20%;
    float: left;
    padding: 10px;
  }
  .image img{
    width: 30px;
    height : auto;
  }
  .label h4{
    font-size: 10px;
  }
}
.label {
  padding: 20px !important;
}
#NotifikasiBox {
  top: 50%;
  left: 50%;
  text-align:center;
  margin-top: -50px;
  margin-left: -100px;
  background: #fff;
  padding: 30px;
  position: fixed;
}
.b-close {
  color: #fff;
  background: #000000;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.container-radio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.radio-pemkabtoba {
  background: #fff;
  padding: 15px;
  max-height: 130px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 2px 1px 32px -13px rgb(0 0 0 / 52%);
  -webkit-box-shadow: 2px 1px 32px -13px rgb(0 0 0 / 52%);
  -moz-box-shadow: 2px 1px 32px -13px rgba(0, 0, 0, 0.52);
}

.title-radio {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background: #5a0505;
  padding: 5px 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-align: center;
}

#back__preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  z-index: 999999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.back__loader_logo {
  position: absolute;
}
.back__loader_logo img {
  width: 75px;
}
#back__circle_loader {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 5px;
  border-top-color: #465fe9;
  border-right-color: #465fe9;
  border-bottom-color: #d5eaff;
  border-left-color: #d5eaff;
  border-radius: 50%;
  -webkit-animation: spinLoader 2s linear infinite;
  animation: spinLoader 2s linear infinite;
}
@-webkit-keyframes spinLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.module-border {
  max-width: 250px;
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}


.loader {
  width: 12em;
  height: 12em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: rgb(0, 225, 255);
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 90%;
  height: 90%;
  color: rgb(255, 0, 0);
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}
.mycontainer__position {
  position: relative;
  z-index: 100;
} 
.position__left  {
  position: absolute;
  left: 5px;
}
.position__right  {
  position: absolute;
  right: 5px;
}

.img-bupati  {
  width: 250px;
}
.img-wabup  {
  width: 250px;;
}

.__container_1{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* width: 2500px; */
  /* height: 150px; */
  padding-top: 30px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.__container_2 {
  margin-top: 30px;
  margin-bottom: 0;
  /* list-style-type: none; */
  /* background: #000; */
  width: 2500px;
  text-align: center;
  position: relative;
  /* z-index: 10000; */
}

.my___content .my___h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: bolder;
  position: absolute;
  transform: translate(-50%, -50%);
}

.my___content .my___h2:nth-child(1) {
  color: #f40b03;
  /* -webkit-text-stroke: 2px #ffffff; */
}

.my___content .my___h2:nth-child(2) {
  color: #fff;
  animation: animate 4s ease-in-out infinite;
  /* display: inline; */
}

.mymarquee {
  padding: 25px;
  width: 900px;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
@media all and (min-width:900px) and (max-width: 1170px) {
  ul#menu {
    width: 500px;
    text-align: center;
    left: 200px;
  }
  ul#menu li.menubar {
    margin: 0 8% 10% 6%;
  }
  .mymarquee {
    /* padding: 20px; */
    width: 800px;
  }

}
@media all and (min-width:822px) and (max-width: 899px) {
  .mymarquee {
    /* padding: 20px; */
    width: 700px;
  }

  ul#menu {
    width: 400px;
    text-align: center;
    left: 57%;
    /* margin-left: 200px; */
    /* padding-left: 20%; */
  }
  
  ul#menu li.menubar {
    margin: 0 4% 10% 3%;
  }
  .img-bupati  {
    width: 200px;;
  }
  .img-wabup  {
    width: 200px;;
  }
}
@media all and (min-width:481px) and (max-width: 822px) {
  
  .mymarquee {
    /* padding: 20px; */
    width: 550px;
  }

  ul#menu {
    padding-top: 250px;
    /* margin-left: 200px; */
    /* padding-left: 50%; */
  }
  
  ul#menu li.menubar {
    margin: 0 4% 12% 3%;
  }
  .img-bupati  {
    width: 200px;;
  }
  .img-wabup  {
    width: 200px;;
  }
}
@media all and (min-width:0px) and (max-width: 480px) {
  /* .mycontainer__position {
    display: flex;
    justify-content: center;
  } */
  .img-bupati  {
    width: 180px;
    margin-top: 70px;
    margin-right: 70px;
   /* left: 70px; */
    display: block;
  }
  .img-wabup  {
    width: 180px;
    margin-top: 70px;
    margin-left: 70px;
    /* right: 70px; */
    display: block;
  }
  .mymarquee {
    padding: 20px;
    width: 100%;
  }
  .my___h2 {
    font-weight: 2rem;
  }
  .__container_1 {
    padding-top: 0;
  }
  ul#menu {
   padding-top: 320px;
  }
  
  ul#menu li.menubar {
    margin: 0 4% 10% 3%;
  }
}
@media all and (min-width:357px) and (max-width: 480px) {
}